* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html,
body {
  color: white;
  background-color: #e0cd7e;
  font-family: Lato, sans-serif;
  margin-top: 40px;
}

h1 {
  color: #1b1b32;
  font-size: 25px;
  font-family: roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo-container {
  border-radius: 20px;
  margin: 4px;

  border: 2px solid #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
  aspect-ratio: 1;
  overflow: hidden;
  background-color: aliceblue;
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  height: 15vh;

}

.task-list {
  width: 600px;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 26px;
}